<div class="col-md-4">
    <div class="card bg-primary border-light shadow mb-3" style="max-width: 18rem; height: 22rem;">
        <div class="card-header text-white">
            <h2 id="name">Name</h2>
            <h3><span class="fas fa-bolt"></span> Engineer</h3>
        </div>
        <div class="card-body bg-light align-content-center flex-wrap">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="id">ID: </li>
                    <li class="list-group-item" id="email">Email: </li>
                    <li class="list-group-item" id="property">Unique Property: </li>
                </ul>
            </div>
        </div>
    </div>
</div>